<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/account.css" rel="stylesheet" type="text/css">
    <title>Minha Conta | Digital Pet</title>
</head>

<body>
    <header>
        <section class="header">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <a href="/pedidos">Ir para Pedidos</a>
        <div class="box-form" id="box-form-data">
            <h3>MINHA CONTA</h3>
            <form method="POST" class="column" action="/usuario/<%= locals.user.id %>/editar/?_method=PUT">
                <label for="email">Endereço de e-mail*</label>
                <input type="email" name="email" id="email" placeholder="E-mail" value="<%= locals.user.email %>">
                <span id="errors-email" class="error"></span>

                <label for="name">Nome*</label>
                <input type="text" name="name" id="name" placeholder="Nome" value="<%= locals.user.name %>">
                <span id="errors-name" class="error"></span>

                <label for="lastName">Sobrenome*</label>
                <input type="text" name="lastName" id="lastName" placeholder="Sobrenome" value="<%= locals.user.lastname %>">
                <span id="errors-lastName" class="error"></span>

                <label for="cel">Número*</label>
                <input type="tel" name="cel" id="cel" placeholder="Telefone com DDD" value="<%= locals.user.celular %>">
                <span id="errors-cel" class="error"></span>

                <label for="password">Crie uma nova senha caso deseje</label>
                <input type="password" name="password" id="password" placeholder="Crie sua nova senha">
                <div id="errors-password" class="error">
                    <span id="erros-password-span">A senha deve conter:</span>
                    <ul>
                        <li>8 caracteres no mínimo;</li>
                        <li>1 Letra Maiúscula no mínimo;</li>
                        <li>1 Número no mínimo;</li>
                        <li>1 Símbolo no mínimo: $*&@#"</li>
                    </ul>
                </div>

                <label for="confirmPassword">Confirme a sua nova senha</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme a sua nova senha">
                <span id="errors-confirmPassword" class="error"></span>

                <button type="submit">Salvar alterações</button>

                <button type="button" id="btn-go-back" class="btn-go-back">Sair da conta</button>
            </form>    
        </div>

    </main>

    <script src="/javascripts/account.js"></script>
</body>
</html>