<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/carrinho.css" rel="stylesheet" type="text/css">
    <title>Carrinho | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-login">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <section class="pedidos">
            <% if(cartItems != undefined && cartItems.length > 0) { %>
                <div class="row space">
                    <span>Produtos (<%= cartItems.length %>)</span>
                </div>

                <% for(let cartItem of cartItems) {%>
                    <div class="row detalhe-produto space">
                        <img src="<%= cartItem.image%>" alt="Imagem do produto a comprar">
                        <div class="column name-quantity">
                            <strong><%= cartItem.name%></strong>
                            <span><%= cartItem.quantity%> unidade(s)</span>
                            <form method="post" action="/produtos/<%= cartItem.id %>/adicionar/?_method=PUT">
                                <input class="input-link link-add" type="submit" value="Adicionar">
                            </form>
                            <form method="POST" action="/produtos/<%= cartItem.id %>/excluir?_method=PUT">
                                <input class="input-link" type="submit" value="Excluir">
                            </form>
                        </div>
                        <strong><%= cartItem.value %></strong>
                    </div>
                <% } %>

                <div class="row space desconto">
                    <% if (!hasDiscount){%>
                        <form method="post" action="/produtos/carrinho/desconto" >
                            <input type="text" placeholder="Cupom de desconto" name="discount" id="discount">
                            <input type="submit" value="Aplicar">
                        </form>
                    <% } %>
                </div>

                <div class="row space">
                    <span>Subtotal</span>
                    <span><%= subTotal %></span>
                </div>
                <% if (hasDiscount){%>
                    <div class="row space">
                        <span>Desconto</span>
                        <span>10%</span>
                    </div>
                <% } %>
                <div class="row space">
                    <strong>Total</strong>
                    <strong><%= totalValueAsString %></strong>
                </div>
                
                <form class="box-btn" method="GET" action="/produtos/checkout">
                    <button class="button-final">Ir para pagamento</button>
                </form>
            <% } else { %>
                <h1>Carrinho vazio.</h1>
            <% } %>
        </section>
    </main>
    <script src="/javascripts/carrinho.js"></script>
</body>
</html>