<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/contact-about.css" rel="stylesheet" type="text/css">
    <title>Sobre nós | Digital Pet</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <%- include('./partials/mobile-header.ejs') %>
        <%- include('./partials/links-desktop.ejs') %>

        <section class="about column">
            <h1>Sobre nós</h1>
            
            <div class="box-about-us">
                <p>
                A DigitalPet é um e-commerce criado por estudantes da DigitalHouse, com o objetivo principal de facilitar a vida de pais de pet. 
                Para atingir esse objetivo, os estudantes decidiram criar um sistema de planos com diversas vantagens para os assinantes. 
                Esses planos são divididos em mensal, semestral e anual. Caso queira saber mais sobre, <a href="#">clique aqui.</a></p>

                <p>Além dos planos, a DigitalPet possui um e-commerce repleto de produtos e que são entregues por todo o Brasil. 
                    Caso queira entrar em contato conosco, basta enviar um e-mail para: <a href="#">contato@digitalpet.com.</a></p>

                <p>Ou se preferir você pode nos mandar uma mensagem no whatsapp, <a href="#">clicando aqui</a> ou nos procurar em uma das nossas redes sociais.
                </p>
            </div>
        </section>

        <%- include('./partials/receive-news.ejs') %>

    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="/javascripts/global.js"></script>
</body>
</html>