<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
    <title>Digital Pet</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <%- include('./partials/mobile-header.ejs') %>
        <%- include('./partials/links-desktop.ejs') %>
        <%- include('./partials/cards-info.ejs') %>
        <%- include('./partials/banner.ejs') %>

        <section class="products">
            <h2>Produtos Populares</h2>
            <div class="content-products column">
                <% for (let product of productList) {%>
                    <% if (product.type == "popular") {%>
                        <a href="/produtos/<%= product.id %>/detalhe" class="box-products column">
                            <img src="<%=product.image%>" alt="Produto">
                            <p><%=product.name%></p>
                            <strong><%=product.value%></strong>
                            <span><%=product.description%></span>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </section>
        <section class="products">
            <h2>Novidades</h2>
            <div class="content-products column">
                <% for (let product of productList) {%>
                    <% if (product.type == "new") {%>
                        <a href="/produtos/<%= product.id %>/detalhe" class="box-products column">
                            <img src="<%=product.image%>" alt="Produto">
                            <p><%=product.name%></p>
                            <strong><%=product.value%></strong>
                            <span><%=product.description%></span>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </section>
        <section class="products">
            <h2>Outros Produtos</h2>
            <div class="content-products column">
                <% for (let product of productList) {%>
                    <% if (product.type == "other") {%>
                        <a href="/produtos/<%= product.id %>/detalhe" class="box-products column">
                            <img src="<%=product.image%>" alt="Produto">
                            <p><%=product.name%></p>
                            <strong><%=product.value%></strong>
                            <span><%=product.description%></span>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </section>

        <%- include('./partials/receive-news.ejs') %>

    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/home.js"></script>
</body>
</html>