<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/pedidos.css" rel="stylesheet" type="text/css">
    <title>Pedidos | Digital Pet</title>
</head>
<body>
    <header>
        <div class="shipping">
            <span>Frete grátis para todo o Brasil</span>
        </div>
        <section class="header-login">
            <a href="/">
                <img src="/images/header/logo-desktop.svg" alt="Logo digital pet">
            </a>
        </section>
    </header>

    <main>
        <% if (requests.length > 0) { %>
            <h1>Lista de pedidos:</h1>
            <% for (let pedido of requests) { %>
                <div class="box-card column">
                    <h3>Pedido: #<%= pedido.id %></h3>
                    <ul>
                        <li>Data: <%= pedido.order_date %></li>
                        <li>Status: <%= pedido.status %></li>
                        <li>Valor: <%= pedido.order_value %></li>
                        <% if (pedido.complement) { %> 
                            <li>Endereço de entrega: <%= pedido.address %>, <%= pedido.complement %></li>
                        <% } else { %>
                            <li>Endereço de entrega: <%= pedido.address %></li>
                        <% } %>
                        <li>Tipo de pagamento: <%= pedido.payment_type %></li>
                    </ul>
                    
                    <a href="/pedidos/<%= pedido.id %>/produtos">Ver produtos</a>
                </div>
            <% } %>
        <% } else { %>
            <h1>Você ainda não possui pedidos.</h1>
        <% } %>
    </main>
</body>
</html>