<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/plans.css" rel="stylesheet" type="text/css">
    <title>Planos | Digital Pet</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <%- include('./partials/mobile-header.ejs') %>
        <%- include('./partials/links-desktop.ejs') %>

        <section class="plans-cards column">
            <% if (locals.user != "empty" && locals.user.plan_id != 4) { %>
                <h1>O seu plano atual é: <%=plan.recurrence%><br><%=plan.value%></h1>
            <% } else { %>
                <h1>Planos de assinatura</h1>
            <% } %>    
            
            <div class="container-cards column">
                <% for(let plan of plans) {%>
                    <% if (plan.id != 4) { %>
                        <div class="box-card column">
                            <h3><%=plan.recurrence%><br><%=plan.value%></h3>
                            <ul>
                                <%for(let benefits of plan.benefits.split(";")){%>
                                    <li><%=benefits%></li>
                                <%}%>
                            </ul>
                            <% if (locals.user != "empty" && locals.user.plan_id != 4) { %>
                                <a href="/planos/<%= plan.id %>/checkout" type="button">MUDAR</a>
                            <% } else { %>
                                <a href="/planos/<%= plan.id %>/checkout" type="button">SELECIONAR</a>
                            <% } %>    
                        </div>
                    <% } %>
                <% } %>
            </div>

        </section>

        <%- include('./partials/receive-news.ejs') %>

    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="/javascripts/global.js"></script>
</body>
</html>