<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/product-detail.css" rel="stylesheet" type="text/css">
    <title>Produto | Digital Pet</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <%- include('./partials/mobile-header.ejs') %>
        <%- include('./partials/links-desktop.ejs') %>

        <section class="product-detail">
            <div class="product-column">
                <img src="<%=productDetail.image%>" alt="Produto">
                <div class="column details">
                    <h1>
                        <%=productDetail.name%>
                    </h1>
                    <ul>
                        <% for (let benefit of productDetail.benefits.split(";")) { %>
                            <li><%=benefit%>;</li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </section>

        <section class="buttons">
            <form method="get" class="column form-column" action="/produtos/<%= productDetail.id %>/carrinho">                    
                <input type="submit" class="btn-comprar" value="Comprar">
            </form>
        </section>

        <section class="products">
            <h2>Produtos Populares</h2>
            <div class="content-products column">
                <% for (let product of productList) {%>
                    <% if (product.type == "popular") {%>
                        <a href="/produtos/<%= product.id %>/detalhe" class="box-products column">
                            <img src="<%=product.image%>" alt="Produto">
                            <p><%=product.name%></p>
                            <strong><%=product.value%></strong>
                            <span><%=product.description%></span>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </section>

        <section class="details-product">
            <h2>Detalhes</h2>
            <% for (let detail of productDetail.details.split(";")) { %>
                <p>
                    <%= detail %>
                </p>
            <% } %>
        </section> 
        <section class="especific">
            <h2>Especificações</h2>
            <div class="list-details-especific">
                <ul>
                    <% for (let specific of productDetail.specifications.split(";")) { %>
                        <li>
                            <%= specific %>
                        </li>
                    <% } %>
                </ul>
            </div>

            <div class="box-compos">
                <h3>
                    Composição
                </h3>

                <p>
                    <%= productDetail.composition %>
                </p>
            </div>

            <div class="box-normal">
                <h3>
                    Níveis de garantia
                </h3>
    
                <ul>
                    <% for (let warranty of productDetail.warranty_levels.split(";")) { %>
                        <li>
                            <%= warranty %>
                        </li>
                    <% } %>
                </ul>
            </div>

            <div class="box-normal">                
                <h3>
                    Enriquecimento por Kg
                </h3>
                <ul>
                    <% for (let enrichment of productDetail.enrichment.split(";")) { %>
                        <li>
                            <%= enrichment %>
                        </li>
                    <% } %>
                </ul>
            </div>

            <div class="box-normal">
                <h3>
                    Quantidade recomendada
                </h3>
                <ul>
                    <% for (let quantity of productDetail.quantity.split(";")) { %>
                        <li>
                            <%= quantity %>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="box-normal">
                <h4>
                    <span>Apresentação: </span>
                    <%= productDetail.sizes.replace(";", ", ") %>
                </h4>
                <h4>
                    Marca: 
                    <%= productDetail.brand %>
                </h4>
            </div>
        </section>

        <%- include('./partials/receive-news.ejs') %>

    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/product-detail.js"></script>
</body>
</html>